




:root {
  --mainBlue: #5cadd3;
  --hauteurSlider: calc(100vw * 421 / 1227);
}

body {
  background-color: white;
  color: black;
  font-family: 'FontAwesome', Arial, "Comic Sans MS", "sans-serif";
  margin: 0;
  padding: 0;
}


/* En-tete ----------------------------------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

header img {
  width: 20%;
  margin-left: 7rem;
}


/* navigateur---------------- */

header .menu {
  text-align: center;
  width: 100%;
  margin-right: 0rem;
}

header>.menu ul {
  list-style: none;
  margin-left: 17rem;
  margin-bottom: 0;
  margin-top: 0;
  top: 0;
}

.menu ul a {
  text-decoration: none;
  color: black;
  padding-right: .32rem;
  padding-left: .32rem;
}

.menu>ul li {
  display: inline-block;
  font-size: .9rem;
  /* padding-left: .5rem; */
  height: 5rem;
  line-height: 5rem;
  top: 0;
}

.menu li:hover {
  border-top: 2.5px solid var(--mainBlue)
}


/* banniere ------------------------------------------------------------------------------------*/

section.slider {
  height: auto;
  /* border: 1px solid; */
  margin-top: 5.5rem;
  background: url('../images/slider/bg1.jpg') no-repeat;
  background-size: cover;
  display: block;
  align-items: center;
  max-width: 100%;
}

.banniere {
  height: var(--hauteurSlider);
  width: 50%;
  /* font-size: 0.3rem; */
  position: relative;
  top: 6rem;
  left: 6rem;
}

.banniere h1 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  width: 44vw;
}

strong {
  color: rgb(92, 173, 211);
}

.banniere h3 {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: white;
  width: 55vw;
  font-weight: normal;
}

.banniere button {
  border: 0;
  padding: .6rem;
  border-radius: 2px;
  border-color: rgb(92, 173, 211);
  background-color: rgb(92, 173, 211);
  box-shadow: 0px 2px 2px rgb(71, 151, 190);
}

button {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

button a:visited {
  color: white;
  /* ne pas mettre de couleur mais juste annuler la commande */
}

.slider progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: .32rem;
  top: 0.33rem;
  position: relative;
}

.slider progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, .1);
}

.slider progress[value]::-webkit-progress-value {
  background-color: var(--mainBlue);
  background-size: 100%;
}

.fleche {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -23rem;
  height: 21rem;
  /* border: 1px solid red; */
  align-items: center;
}

.prev {
  border-radius: 0 50% 50% 0;
  justify-content: center;
  padding-right: 0.4rem;
}

.next {
  border-radius: 50% 0 0 50%;
  margin-right: 0rem;
  justify-content: center;
  width: 2rem;
  padding-left: .4rem;
  padding-right: 0rem;
}

.fleche a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  height: 3rem;
  width: 2rem;
  background-color: rgba(0, 0, 0, 0.50);
  color: white;
  display: flex;
  align-items: center;
  /* margin-top: 8rem; */
}


/* Services ------------------------------------------------------------------------------------------*/

.services {
  margin-top: 4rem;
  background-image: linear-gradient(white, rgb(250, 250, 250));
  padding: 5rem;
  /* espace interieur block/texte */
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.9rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(220, 220, 200, 0.5);
  padding-bottom: 0rem;
  /* width: 12rem; */
  width: 22rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .2rem;
  padding-bottom: 2rem;
}

.services i,
.projets i {
  color: var(--mainBlue);
  position: relative;
  /* left: 27rem; */
  top: -.8rem;
  border: 3px solid white;
  border-radius: 50%;
  background-color: var(--mainBlue);
  width: 0.7rem;
  height: 0.7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services>p:nth-of-type(1) {
  text-align: center;
  color: grey;
  font-size: 1rem;
  margin-bottom: 4rem;
  padding-right: 10rem;
  padding-left: 10rem;
  line-height: 1.7rem;
}

.services p:nth-of-type(2) {
  text-align: center;
}

.services img {
  float: left;
  width: 40vw;
  height: auto;
  margin-left: 5rem;
}

.services ul {
  list-style-type: none;
  /* margin-top: 5rem; */
  /* margin-left: 27rem; */
}

ul h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

li h3 {
  margin-bottom: 2.5px;
  padding-left: 3.5rem;
  margin-top: 0rem;
}

.services li p {
  font-size: 0.9rem;
  margin-top: 0;
  /* display: inline-block; */
  /* width: 80%; */
  padding-left: 3.5rem;
  line-height: 1.7rem;
}

.services li:nth-of-type(1):before {
  color: var(--mainBlue);
  content: "\f201";
  float: left;
  position: relative;
  border: 0.5px solid grey;
  padding: .9rem;
  border-radius: 50%;
  font-size: 1.2rem;
  right: 0.6rem;
  top: 0.5rem;
}

.services li:nth-of-type(2):before {
  color: var(--mainBlue);
  content: "\f1b3";
  float: left;
  position: relative;
  border: .5px solid grey;
  padding: .9rem;
  border-radius: 50%;
  font-size: 1.2rem;
  right: 0.5em;
  top: 0.5rem;
  width: 1.2rem;
}

.services li:nth-of-type(3):before {
  color: var(--mainBlue);
  content: "\f200";
  float: left;
  position: relative;
  border: .5px solid grey;
  padding: .9rem;
  border-radius: 50%;
  font-size: 1.2rem;
  right: 0.4em;
  top: 0.5rem;
}

section li i:first-of-type {
  color: var(--mainBlue);
  position: relative;
  left: 2.0rem;
  top: 1.6rem;
  border: 3px solid white;
  border-radius: 50%;
  background-color: var(--mainBlue);
  width: .7rem;
  height: .7rem;
  display: block;
  margin-left: 0;
}


/* Projets ------------------------------------------------------------------------------------*/

.projets {
  margin-top: 10rem;
  background-color: rgb(245, 245, 245);
  padding-top: 5rem;
}

.projets>p:nth-of-type(1) {
  text-align: center;
  color: black;
  font-size: 1rem;
  padding-right: 10rem;
  padding-left: 10rem;
  line-height: 1.7rem;
}

.services div:first-of-type {
  display: flex;
  align-items: flex-start;
}

.projets ul {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.projets nav li {
  padding: 1rem;
  color: black;
  border-color: grey;
  /* border-radius: 2px; */
  font-size: 1.3vw;
  list-style: none;
}

.projets li a {
  text-decoration: none;
  color: black;
}

.projets li:nth-of-type(1) {
  border-radius: 5% 0 0 5%;
}

.projets li:nth-of-type(4) {
  border-radius: 0% 5% 5% 0;
}

.projets li.selected,
.projets li:hover {
  color: white;
  position: relative;
  background: #5CADD3;
  padding: 1rem;
  box-shadow: 0px 2px 0px rgb(68, 148, 187);
}

.projets li.selected:after,
.projets li:hover:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(92, 173, 211, 0);
  border-top-color: #5CADD3;
  border-width: .5rem;
  margin-left: -.5rem;
}

.projets li a:visited {
  color: black;
  /* ne pas mettre de couleur mais juste annuler la commande */
}

.projets li.selected a {
  color: white;
  font-weight: bold;
}

.projets li:hover {
  background-color: #5CADD3;
  box-shadow: 0px 2px 0px rgb(68, 148, 187);
  color: white;
}

.projets ul {
  border-radius: 2px;
  background-color: rgb(229, 229, 229);
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin-left: auto;
  margin-right: auto;
}

.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.photos figure {
  overflow: hidden;
  position: relative;
  margin: 0.3rem;
}

.photos figcaption {
  visibility: hidden;
  /* le text ne s'afiche pas */
  position: absolute;
}

.photos figure:hover figcaption {
  visibility: visible;
  position: absolute;
  bottom: 0.1rem;
  /* padding: .3rem; */
  box-sizing: border-box;
  padding: 1rem;
  color: #FFFFFF;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  font-size: .9rem;
}

figcaption:before {
  content: "\f06e";
  background-color: var(--mainBlue);
  padding: .3rem;
  border-radius: 50%;
  border: solid 1px;
  position: relative;
  top: -1.5rem;
  left: 90%;
}

.photos em {
  font-style: normal;
  font-weight: bold;
  margin-left: -1.6rem;
}

.photos img {
  width: 100%;
  height: auto;
}


/* Formulaire contact -------------------------------------------------------------------------------*/

.formulaire {
  margin-top: 4rem;
  position: relative;
  background-color: rgba(144, 193, 239);
}

form {
  top: .3rem;
  width: 20vw;
  height: auto;
  border: 0px solid grey;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.8);
  background-size: 100%;
  position: relative;
  left: 17rem;
}

.formulaire>div p:nth-of-type(1) {
  color: grey;
}

address {
  font-weight: bold;
}

.formulaire>div p:nth-of-type(2) {
  font-size: 0.8rem;
}

.formulaire span {
  border-bottom: dotted 1px black;
}

.formulaire form input {
  background-color: white;
  color: grey;
  padding: 0.2rem;
  font-size: .7rem;
  width: 95%;
}

form textarea {
  height: 7rem;
  /* margin-bottom: 2rem; */
  width: 97%;
}

#button {
  font-size: 0.7rem;
  border: 0;
  padding: 3px;
  border-radius: 5px;
  border-color: rgb(92, 173, 211);
  background-color: rgb(92, 173, 211);
  box-shadow: 0px 2px 0px rgb(68, 148, 187);
  color: white;
  margin-bottom: 1rem;
  width: 5rem;
}

.formulaire iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  border: 0;
}


/*Media queries ------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header img {
    margin-left: 0;
    width: 30%;
  }

  header .menu>ul li {
    font-size: 1.2rem;
  }

  header>.menu ul {
    margin-left: auto;
    margin-top: auto;
    padding: 0;
  }

  section.slider {
    margin-top: 9rem;
  }

  .projets nav li {
    width: 12vw;
    text-align: center;
    font-size: .8rem;
  }

  .projets>p:nth-of-type(1) {
    text-align: center;
    color: black;
    font-size: 1rem;
    padding-right: 0px;
    padding-left: 0px;
  }

  .photos figure figcaption {
    visibility: visible;
    position: absolute;
    bottom: 0.2rem;
    box-sizing: border-box;
    padding: 1rem;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    font-size: .9rem;
  }

  .photos figure:hover figcaption {
    display: none;
  }

  .services {
    padding-right: 0;
    padding-left: 0;
  }

  .services>p:nth-of-type(1) {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }

  .services ul {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    /* padding-right: 1rem; */
    /* text-align: center; */
  }

  .services li {
    content: none;
    margin-top: 3rem;
  }

  .services li h3 {
    padding-left: .3rem;
    /* font-size: 1.7rem; */
    text-align: center;
  }

  .services li p {
    padding-left: 0;
    /* font-size: 1.2rem; */
    text-align: center;
    display: block;
  }

  .services div:first-of-type {
    /* display:block; */
    width: 98vw;
    flex-direction: column;
    justify-content: center;
    /*     align-content: space-around; */
  }

  .services div:first-of-type img {
    margin-left: auto;
    margin-right: auto;
  }

  .services li:nth-of-type(1):before,
  .services li:nth-of-type(2):before,
  .services li:nth-of-type(3):before {
    display: none;
  }

  section li i:first-of-type {
    display: none;
  }

  .formulaire {
    background-color: white;
  }

  form {
    top: 0;
    left: 0;
    border: 1px solid grey;
    width: 50vw;
  }

  .formulaire iframe {
    /* display: none; */
    top: 29rem;
  }
}

@media screen and (max-width: 740px) {
  .banniere h1 {
    /* font-size: 1rem; */
    width: 90vw;
  }

  .banniere h3 {
    width: 90vw;
    /* font-size: .6rem; */
  }

  .services {
    margin-top: 0;
    padding-top: 4rem;
  }

  .services img {
    width: 70vw;
  }

  .projets {
    margin-top: 5rem;
  }

  .projets nav li {
    width: auto;
  }

  .photos {
    grid-template-columns: repeat(2, 1fr);
  }

  form {
    width: 80%;
    margin: .5rem;
  }
}

@media screen and (min-width:740px) and (max-width: 1024px) {
  .photos {
    grid-template-columns: repeat(3, 1fr);
  }

  .banniere {
    top: 1.5rem;
    left: 2.6rem;
    width: 40vw;
  }

  .banniere h1 {
    width: 59vw;
  }

  .fleche a {
    margin-top: 7rem;
  }
}

@media screen and (min-width:1024px) {
  .slider progress {
    margin-top: -5.5rem;
  }
}

@media screen and (max-width: 740px) {
  header img{
    width: 54%;
    padding-top: .4rem;
  }

  .banniere {
    top: 1rem;
    left: 2rem;
    /* width: 30vw; */
    height: 20rem;
  }

  .fleche a {
    margin-top: 3rem;
    width: 1.5rem;
  }

  section.slider {
    margin-top: 8rem;
  }
}

